/* 
    CYBEROCTANE.CSS v1.0
    August 2018 
    www.cyberoctane.com
*/

/* 
    ====================
    == Scroll Styling ==
    ====================
*/

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 13%);
}

::-webkit-scrollbar-thumb {
    background: #F8EF00;
}

/* 
    ====================
    == Global Styling ==
    ====================
*/

html {
    -webkit-font-smoothing: antialiased;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (min-device-pixel-ratio: 1.25),
screen and (min-resolution: 200dpi),
screen and (min-resolution: 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #111;
    animation: bodyfade 1s 1;
}

@keyframes bodyfade {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@-moz-keyframes bodyfade {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@-webkit-keyframes bodyfade {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

@-o-keyframes bodyfade {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

/*---- block element classes ----*/

.no-see {
    visibility: hidden;
}

.section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    max-width: 80%;
    padding: 0;
}

.row {
    margin: 0;
}

.hero {
    display: flex;
    align-items: center;
    text-align: center;
}

.wrap-div {
    padding: 10vw 5% 0 5%;
    margin: auto;
    width: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px) {
    
    .container-fluid {
        max-width: 70%;
    }
    
    .wrap-div {
        padding: 10vw 5% 0 5%;
        max-width: 1000px;
        margin: auto;
    }
}

/*---- link buttons classes ----*/
.link-btn {
    border: floralwhite 1px solid;
    padding: 2% 4%;
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.link-btn p {
    font-size: 15px;
    font-weight: 400;
    margin: 0%;
    padding-left: 0;
    transition: padding-left 0.4s ease;
}

.btn-hov {
    width: 1vw;
    height: 100%;
    transition: width 0.2s ease;
}

.link-btn img {
    width: 6vw;
}

.link-btn:active {
    background-color: #F8EF00;
}


@media (min-width:768px) {

    .link-btn {
        margin-top: 0;
        align-self: flex-start;
        border: floralwhite 2px solid;
        padding: 10px 14px;
    }

    .link-btn p {
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
    }

    .link-btn:hover .btn-hov {
        width: 2vw;
    }

    .link-btn:hover p {
        padding-left: 0.2vw;
    }
    
    .link-btn img{
        width: 30px;
    }

}

.section-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-aspect-ratio:1/1) {
    .section-wrap {
        width: 70%;
        align-items: center;
    }
}

@media (min-width:768px) {
    .section-wrap {
        flex-direction: row;
    }
}

.Vheight {
    min-height: 100vh;
    /* background-color: #ff7f15; */
}

.hidden-div {
    visibility: hidden;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.vertical-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    
}


/*---- other element classes ----*/

a {
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #fff;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-tap-highlight-color: transparent;
}

a:hover,
a:focus:hover:active {
    color: #F8EF00;
    text-decoration: none;
}

hr {
    border: 0.4px solid floralwhite;
    margin: 0;
}

body>hr {
    width: 90%;
    margin: auto;
}

.nav-arrow {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-arrow h1 {
    color: #ff7f15;
    font-weight: 300;
}

.dash {
    height: 0.7vh;
    width: 3vw;
    background-color: floralwhite;
}

@media (min-aspect-ratio: 1/1) {
    .dash {
        width: 2vh;
    }
}

.tilde {
    letter-spacing: normal;
    position: absolute;
    padding-bottom: 1%;
}

/*---- color classes ----*/

.light-ash {
    color: #878787
}

.yellow {
    color: #F8EF00;
}

/*---- text-format classes ----*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: floralwhite;
}

h1 {
    font-weight: 800;
    font-size: 10vw;
    line-height: 1;
    letter-spacing: 0.2em;
}

h2 {
    font-weight: 700;
    font-size: 7.5vw;
    letter-spacing: 2vw;
    line-height: 1.2;
}

h3 {
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 0.3vw;
}

h5 {
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    line-height: 1.1;
}

p {
    color: floralwhite;
    font-family: 'barlow semi condensed';
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
}

.plus {
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    line-height: 1;
}

.plusImg {
    position: absolute;
    width: 20px;
}

.tick-line {
    position: absolute;
}

.tick {
    position: relative;
    animation: ticking 4s infinite linear;
}

.tick-line img:nth-child(2) {
    animation: ticking 2s 1s infinite linear;
}

.tick-line img:nth-child(3) {
    animation: ticking 1s 2s infinite linear;
}

@keyframes ticking {
    0% {
        transform: rotate(0deg)
    }

    47% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(45deg)
    }

    97% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(90deg)
    }
}

@-moz-keyframes ticking {
    0% {
        transform: rotate(0deg)
    }

    47% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(45deg)
    }

    97% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(90deg)
    }
}

@-webkit-keyframes ticking {
    0% {
        transform: rotate(0deg)
    }

    47% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(45deg)
    }

    97% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(90deg)
    }
}

@-o-keyframes ticking {
    0% {
        transform: rotate(0deg)
    }

    47% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(45deg)
    }

    97% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(90deg)
    }
}

.text {
    color: floralwhite;
    font-family: 'Barlow semi Condensed', sans-serif;
}

.square {
    padding-left: 2vw;
}

.square i {
    font-size: 1.5vw;
}

.phrase {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



@media (min-width:576px) {
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3em;
    }

}

@media (min-width:768px) {

    h2 {
        font-weight: 700;
        font-size: 4vw;
        letter-spacing: 2vw;
        line-height: 1.2;
    }

    .phrase h1 {
        font-size: 5vw;
    }

    p {
        font-size: 17px;
    }
    
    .phrase {
        text-align: left;
        align-items: flex-start;
    }
}

@media (min-width:1900px) {
    p {
        font-size: 19px;
        line-height: 25px;
    }
}

/*---- global style classes ----*/

.lg-only {
    display: none;
}

@media (min-width:768px) {
    .lg-only {
        display: block;
    }

    .mobile {
        display: none;
    }
}

/* 
    ========================
    == Top NavBar Styling ==
    ========================
*/


.page-nav {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 20vw;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    overflow: hidden;
}

#home-navbar {
    background-color: transparent;
}

#nav-color {
    position: fixed;
    z-index: 3;
    height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    /* hex = #1d1d1b; */
}

.nav-land {
    height: 0;
}

.nav-logo {
    display: flex;
    overflow: hidden;
    padding: 5px 0;
}

.hover-text {
    display: none;
}

#cyberlogo {
    width: 7vw;
    fill: #fff;
    transition: fill 0.2s, width 0.2s;
}

#cyberlogo:active {
    fill: #F8EF00;
    width: 6.5vw;
}

/* menu btn */

#menu-btn {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-stroke {
    height: 2px;
    width: 20px;
    border-radius: 0.5px;
    background-color: floralwhite;
    transition: width 0.2s;
}

.closed .cross {
    width: 0px;
    position: absolute;
    top: 50%;
}

.open .burger {
    width: 0;
}

.open #cross01 {
    width: 25px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
}

.open #cross02 {
    width: 25px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
}

.open {
    width: 25px;
}

@media (min-width:576px) {

    .page-nav {
        height: 10vh;
        padding: 0 5%;
    }

    #home-navbar {
        height: 18vh;
    }

    #nav-color {
        height: 10vh;
    }

    /* Hid the .hover-text */
    #cyberlogo:hover .hover-text {
        display: inline;
        align-self: center;
        transition: width 0.4s ease;
        overflow: hidden;
    }

    .hover-text p {
        font-size: 0.7vw;
        letter-spacing: 4px;
        padding-left: 10%;
        margin: 0;
    }

    #cyberlogo {
        width: 35px;
    }
    
    #cyberlogo:active {
        fill: #F8EF00;
        width: 33px;
    }

    .nav-logo:hover #cyberlogo {
        fill: #F8EF00;
    }

    .nav-logo:hover .hover-text {
        fill: #F8EF00;
        width: 8vw;
    }

    #menu-btn:hover .burger {
        width: 3px;
        margin: 0 auto;
        background-color: #F8EF00;
    }

    #menu-btn:hover .cross {
        background-color: #F8EF00;
    }
}

/* 
    ==================
    == Menu Styling ==
    ==================
*/

#menu {
    position: fixed;
    right: 0%;
    z-index: 3;
    width: 0%;
    padding: 0;
    background-color: transparent;
    flex-direction: column;
    transition: width 0.3s ease;
}

#menu.open {
    width: 100%;
    height: 100vh;
}

#menu-links {
    width: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: width 0.3s 0.3s ease;
}

#menu-links.open {
    width: 80%;
    opacity: 1;
}

.menu-item {
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: left;
    display: flex;
    padding: 3vh 0;
    overflow: hidden;
}

.menu-item:active * {
    color: #F8EF00;
}

.menu-item .plus {
    position: relative;
    font-size: 2em;
    font-weight: 300;
    line-height: 50%;
    padding: 0 30px;
    transition: opacity 0.3s ease;
}

#menu h1 {
    position: relative;
    font-weight: 800;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    padding: 0;
    line-height: 1em;
}

.menu-item h4 {
    align-self: flex-start;
    font-size: 2.5vw;
    color: floralwhite;
    padding: 0 3%;
}

#menu-svg {
    position: fixed;
    top: 5vw;
    right: 7%;
    transform: translate(50%, -50%);
    fill: #111;
    width: 0;
    transition: width 0.5s ease, fill 0.5s ease;
}

#menu-svg.open {
    width: 480%;
    /*fill: #111;*/
}

@media(min-width:768px) {

    .menu-item {
        padding: 0;
        height: auto;
        margin: 1.5vh 0;
    }

    .menu-item .plus {
        font-size: 4em;
        line-height: 0;
        align-self: center;
        font-size: 0;
        transition: font-size 0.2s;
    }

    #menu h1 {
        font-size: 4vw;
        letter-spacing: 0.4em;
        padding: 0;
        line-height: 1em;
    }

    .menu-item h4 {
        align-self: flex-start;
        font-size: 1.2vw;
        color: floralwhite;
        padding: 0;
    }

    .menu-item:hover * {
        opacity: 1;
        color: #F8EF00;
    }

    .menu-item:hover .plus {
        font-size: 6vw;
    }

    #menu-svg {
        top: 5vh;
        right: 6%;
    }

}

/* 
    ===============================
    == Welcome-Globe-SVG Styling ==
    ===============================
*/

#threejs-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
    /* background: -moz-linear-gradient(top, #11e8bb 0%, #8200c9 100%);
    background: -webkit-linear-gradient(top, #11e8bb 0%, #8200c9 100%);
    background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%); 
    background: radial-gradient(circle closest-side, #353535, #1d1d1b);*/
    background-image: radial-gradient(circle, #222, #050505);

}

#dotted {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: radial-gradient(circle, black 10%, transparent 10%);
    background-size: 0.5vh 0.5vh;
    z-index: -1;
}


/* 
    ========================
    == Section Tip Styling ==
    ========================
*/

.section-tip {
    position: absolute;
    transform-origin: right bottom;
    right: 3.5%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg) translateX(50%);
}

/*
.section-tip hr {
    border: 1px solid #878787;
    width: 100%;
    margin: 20% 0;
}
*/

.section-tip h4 {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2em;

}

@media (min-aspect-ratio:1/1) {
    .section-tip {
        top: 50%;
        right: 5%;
        transform: rotate(-90deg) translateX(50%);
    }

    .section-tip h4 {
        font-size: 15px;

    }

}

/* 
    ===========================
    == Social-Media-Side-Bar ==
    ===========================
*/

.social-media.side {
    display: none;
}

@media (min-width:768px){
    
   .social-media.side {
       position: fixed;
       top: 50%;
       left: 5%;
       transform: translateX(0%) translateY(-50%);
       height: 50vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       z-index: 2;
       text-align: center;
       overflow: hidden;
       transition: height 1s ease;
    }
    
    .social-media.side.zero-height {
        height: 0;
    }

    .social-media.side .social-media-item {
        padding: 10px 0;
    }

    .social-media-item a,
    .social-media-item a:focus {
        font-size: 16px;
        text-align: center;
        color: floralwhite;
        padding: 15px 0;
    }

    .social-media-item a:hover,
    .social-media-item a:focus:hover {
        color: #F8EF00;
    }

}

@media (min-width:1600px) {

    .social-media-item a,
    .social-media-item a:focus {
        font-size: 20px;
    }
}

.temp {
    position: fixed;
    left: 5%;
    bottom: 10%;
    font-size: 3vw;
    line-height: 1;
}

/* 
    ===========================
    == Home-Section Styling ==
    ===========================
*/

#home {
    height: 100vh;
    ;
    overflow: hidden;
    flex-direction: column;
}

#hello {
    position: relative;
    width: 75vw;
    height: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#we-are {
    text-align: right;
    align-self: flex-start;
}

#dash-1 {
    align-self: flex-end;
    position: absolute;
    top: 1vw;
}

#dash-2 {
    align-self: flex-start;
    position: absolute;
    top: 60%;
}

#hello .tilde {
    font-weight: 300;
    font-size: 10vw;
    line-height: 3vw;
    position: absolute;
    top: 20%;
    align-self: flex-end;
}

#hello .slashes {
    font-weight: 700;
    font-size: 5vw;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: -3%;
    align-self: flex-end;
}

#agency,
#co {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#agency {
    top: 9vw;
    /* (h2 size => 7.5vw)*(line height =>1.5) = 9 */
    overflow: hidden;
    animation: name 4s 0s infinite;
}

.h1-wrap {
    overflow: hidden;
}

#agency .h1-wrap {
    animation: temp 4s 0s infinite;
}

#co {
    opacity: 0;
    top: 18vw;
    /* [(h2 size => 7.5vw)*(line height =>1.5)]*2 = 9 */
    animation: name 4s 2s infinite;
}

#co .h1-wrap {
    animation: temp 4s 2s infinite;
}

#co .tilde {
    position: relative;
    align-self: flex-start;
}

#co .dots {
    position: absolute;
    bottom: 0;
    align-self: center;
    letter-spacing: 10px;
    padding-left: 10px;
}

#hello h1 {
    font-weight: 800;
    font-size: 12vw;
    height: 20%;
}

.c-aligned {
    align-self: center;
}

.r-aligned {
    align-self: flex-end;
    text-align: right;
    margin-right: -2%;
}

#home-nav {
    width: 75vw;
    position: relative;
    top: 15vh;
    align-self: center;
}

#home-nav .nav {
    display: none;
}

#scroll-down-arrow {
    position: absolute;
    width: 100%;
}

#scroll-down-arrow img {
    width: 25px;
    transform: rotate(90deg);
}

@keyframes name {
    0% {
        opacity: 1
    }

    24% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    74% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes name {
    0% {
        opacity: 1
    }

    24% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    74% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes name {
    0% {
        opacity: 1
    }

    24% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    74% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes name {
    0% {
        opacity: 1
    }

    24% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    74% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes temp {
    0% {
        width: 100%;
    }

    19% {
        width: 100%;
    }

    35% {
        width: 0%;
    }

    75% {
        width: 0%;
    }

    81% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes temp {
    0% {
        width: 100%;
    }

    19% {
        width: 100%;
    }

    35% {
        width: 0%;
    }

    75% {
        width: 0%;
    }

    81% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes temp {
    0% {
        width: 100%;
    }

    19% {
        width: 100%;
    }

    35% {
        width: 0%;
    }

    75% {
        width: 0%;
    }

    81% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@-o-keyframes temp {
    0% {
        width: 100%;
    }

    19% {
        width: 100%;
    }

    35% {
        width: 0%;
    }

    75% {
        width: 0%;
    }

    81% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@media (min-width:576px) {

    #hello {
        width: 55vw;
        height: 36vw;
        transform: translateY(-5%);
    }

    #hello h1 {
        font-weight: 800;
        font-size: 9vw;
    }

    #hello .slashes {
        font-size: 4vw;
        bottom: 0;
    }

    #agency {
        top: 6vw;
        /* h2 font-size: 5vw * line-height: 1.2 */
    }

    #co {
        top: 12vw;
        /* [h2 font-size: 5vw * line-height: 1.2] * 2  */
    }

    #home-nav {
        width: 55vw;
        top: 20%;
    }

    #home-nav .nav {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    #home-nav a {
        display: flex;
        align-items: center;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        color: floralwhite;
        padding: 0;
    }

    #home-nav a p {
        padding: 0;
        margin: 0;
    }

    #home-nav a:hover p {
        color: #F8EF00;
        font-weight: 400;
    }

    #home-nav a .plus {
        display: none;
        position: absolute;
        transform: translate(-1em);
        color: #F8EF00;
    }

    #home-nav a:hover .plus {
        display: inline;
    }

    .nav-hr {
        position: absolute;
        bottom: -50%;
        border: 0;
        border-top: 1px solid #F8EF00;
        width: 0;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
    }

    #home-nav a:hover .nav-hr {
        width: 15%;
    }

    #scroll-down-arrow {
        top: 300%;
    }
}

@media (min-width:768px) {

    #hello {
        width: 34vw;
        height: 26vw;
    }

    #hello h1 {
        font-size: 6vw;
    }

    #hello .tilde {
        font-size: 5vw;
        line-height: 1.5vw;
    }

    #hello .slashes {
        font-size: 2.5vw;
        letter-spacing: 1vw;
    }

    #agency {
        top: 4.8vw;
        /* h2 font-size: 4vw * line-height: 1.2 */
    }

    #co {
        top: 9.6vw;
        /* [h2 font-size: 4vw * line-height: 1.2] * 2 */
    }

    #home-nav {
        display: block;
        position: absolute;
        top: 80%;
        align-self: center;
        width: 34vw;
    }

    #scroll-down-arrow {
        top: 300%;
    }

}

/* 
    ===========================
    == About-Us Styling ==
    ===========================
*/

#about-us .tick-line {
    top: 5%;
}

#about-us .tick-line.bottom {
    top: 95%;
    bottom: 5%;
}

#about-us .container-fluid {
    padding-right: 0;
}

#us-phrase {
    padding: 0;
    padding-bottom: 4vh;
    text-align: center;
}

#about-us .phrase h1 {
    padding: 0;
}

#about-us .dash {
    margin-left: 0%;
}

#us-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#us-text .text {
    padding-bottom: 4vh;
    margin: 0;
}

@media(min-width:768px) {

    #about-us .tick-line {
        top: 9vh;
        transform: translate(0, -50%)
    }

    #about-us .container-fluid {
        padding-right: 0;
    }

    #about-us .row {
        height: 60vh;
    }

    #about-us .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #us-phrase {
        padding-right: 5%;
        justify-content: center;
        text-align: left;
    }

    #about-us .phrase h1 {
        padding: 0%;
    }

    #us-text {
        height: inherit;
        padding-left: 5%;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

}

/* 
    ===========================
    == Services S-tyling ==
    ===========================
*/

#services {
    min-height: 100vh;
    height: auto;
    flex-direction: column;
}

#services .section-wrap {
    height: auto;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    justify-content: center;
}

#services .phrase {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10%;
}

#services .link-btn {
    margin-top: 10%;
}

#services-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services-wrap>h4 {
    font-size: 30px;
    align-self: center;
    margin-bottom: 5vw;
}

#service-nav {
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
}

#DigitalExp {
    text-align: right;
}

#service-separator {
    width: 2px;
    height: 10vw;
    background-color: floralwhite;
    margin: 0 10px;
}

#service-nav .nav-text {
    cursor: pointer;
    font-weight: 800;
    font-size: 5vw;
    letter-spacing: 0.2vw;
    line-height: 1;
}

.exp-nav {
    font-size: 5vw;
    font-weight: 500;
}

#service-nav .yellow {
    color: #F8EF00;
}

#services .tilde {
    display: none;
}

.slider-wrap {
    width: 100%;
}

.slider-heading h2 {
    cursor: pointer;
}

#services .swiper-container {
    width: 100%;
}

#services .experience {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services .service {
    padding: 2% 0;
    /*background-color: #F8EF00;*/
    margin: 1.5% 0;
    display: flex;
    align-items: center;
}

#services .service img {
    max-width: 10vw;
    display: inline;
    height: 8vw;
    float: left;
    margin-right: 12%;
}

#services .services-list h4 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #fff;
}

#services .service .plus {
    right: 0;
    font-size: 30px;
    line-height: 0.5;
}

@media(min-width:768px) {

    #services .section-wrap {
        width: 70%;
        height: 65vh;
        padding: 0;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;
    }

    #services-wrap {
        width: 50%;
        padding-left: 5%;
        justify-content: space-between;
    }

    #services-wrap>h4 {
        align-self: flex-start;
        margin: 5vh 0;
    }

    #services .slider-wrap {
        width: 30vw;
        height: inherit;
        margin: 0 0 0 10%;
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
    }

    #services .tilde {
        display: block;
        position: relative;
    }

    #service-nav {
        margin-bottom: 0;
        justify-content: flex-start;
    }

    #service-nav .nav-text {
        font-size: 2.4vw;
        letter-spacing: 0.2vw;
    }

    #DigitalExp {
        text-align: left;
    }

    .exp-nav {
        font-size: 2.4vw;
    }

    #service-phrase .yellow {
        font-size: 2.5vw;
    }

    #service-separator {
        width: 2px;
        height: 100%;
        background-color: floralwhite;
        margin: 0 4%;
    }

    #services .swiper-container {
        width: 100%;
        margin: 0;
    }

    #services .swiper-pagination {
        bottom: 0%;
    }

    #services .experience {
        padding: 0;
    }

    #services .services-list {
        padding-left: 0;
    }

    #services .services-list img {
        height: 5vh;
        margin-left: 5px;
    }

    #services .services-list h4 {
        margin: 0;
        font-size: 20px;
    }

    #services .services-list p {
        display: block;
    }
    
    #services .service .plus {
        font-size: 40px;
    }

    #services .phrase {
        height: inherit;
        width: 40vw;
        justify-content: space-between;
        margin-bottom: 0%;
    }
}

/* 
    ===========================
    == Projects Styling ==
    ===========================
*/

#works .container-fluid {
    width: 80%;
}

#work-phrase {
    display: none;
}

#see-all a {
    position: relative;
    width: 100%;
    background-color: floralwhite;
    /*#F8EF00;*/
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.link-text {
    position: absolute;
}

#see-all p {
    color: black;
    font-size: 17px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 3px;
    margin: 0;
}

#see-all .plusImg {
    transform: translate(0%, -50%);
    top: 50%;
    left: -40px;
    color: black;
}

#see-all-svg {
    width: 0;
    min-width: 0%;
    transition: min-width 0.5s;
    fill: #F8EF00;
}

#works-slide {
    padding: 0;
}

#works-slide .container {
    padding: 0;
}

.project {
    position: relative;
    height: 20vh;
    margin-bottom: 2%;
    overflow: hidden;
    padding: 0 0.8vw;
}

.project-content {
    height: 100%;
    display: flex;
}

.project a {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.project-info {
    position: absolute;
    width: 26vw;
    height: inherit;
    /*background-color: rgba(20, 20, 20, 0.9);*/
    background-color: floralwhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project-name {
    min-width: 20vh;
    /*height of project div*/
    height: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18% 15%;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: center;
}

.project-info h1 {
    color: #111;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding-bottom: 5%;
}

.project-info hr {
    border: 0.5px #111 solid;
    width: 10%
}

.project-info h5 {
    color: #111;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.9;
}

.works-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.works-img picture {
    min-width: 100%;
    height: 100%;
}

.project picture img {
    height: auto;
    width: 100%;
}

@media (min-width:768px) {

    #works .phrase {
        width: inherit;
        padding-bottom: 1%;
        display: flex;
        align-self: flex-start;
    }

    #works .tilde {
        top: 0;
        left: -1%;
        align-self: flex-start;
    }

    #works .row {
        margin: 0 -0.8vw;
    }

    #see-all a {
        position: relative;
    }

    #see-all a:hover #see-all-svg {
        min-width: 300%;
    }

    #see-all p {
        font-size: 1.8vw;
    }

    #see-all .plusImg {
        display: block;
        position: relative;
        left: 0%;
        width: 30px;
        margin-bottom: 10%;
        transform: rotate(0deg);
        transition: transform 0.8s ease;
    }

    #see-all a:hover .plusImg {
        transform: rotate(180deg);
    }

    #works-slide {
        height: auto;
        padding: 0 0;
    }

    #works-slide .row {
        margin: 0;
    }

    .project {
        height: 60vh;
        padding: 0 0.3vw;
        margin: 0;
    }

    .project-content {
        overflow: hidden;
        align-items: flex-end;
    }

    .project-info {
        width: calc(100% - 0.6vw);
        height: 0%;
        bottom: 0;
        transition: height 0.2s ease-out;
    }

    .project:hover .project-info {
        height: 18vh;
    }

    .project-name {
        height: inherit;
        width: inherit;
        padding: 10%;
        transform: none;
    }

    .project-info h1 {
        font-size: 1.5vw;
        font-weight: 800;
        padding: 0;
    }
    
    .project-info hr {
        border : 0.8px #111 solid;
        width: 10%;
        
    }

    .project-info h5 {
        font-size: 1.1em;
    }

    .project-info p,
    .project-info button {
        display: none;
    }

    .works-img {
        position: relative;
        z-index: -1;
        width: 100%;
    }

    .works-img picture {
        min-width: 100%;
        height: 100%;
    }
    
    .project picture img {
        height: 100%;
        width: auto;
    }

}

/* 
    ===========================
    == Clients Styling ==
    ===========================
*/
#clients .row {
    justify-content: center;
    padding: 0;
}

#clients .phrase .plusImg {
    left: 50%;
    top: -20%;
}

.client-list {
    width: 100%;
    padding: 5vh 0 0 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.client-list .plusImg {
    width: 20px;
    margin: 0;
    left: 0%;
    top: 50%;
}

.client-list .plusImg.bottom {
    left: 100%;
    transform: translate(-100%,0%);
}

.client-swiper {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.client-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client-list img {
    width: 25vw;
}

@media(min-width:576px) {
    
    .client-list {
        width: 80%;
        padding: 5vh 0 0 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .client-list img {
        width: 16vw;
    }
}

@media(min-width:768px) {

    #clients .row {
        height: 65vh;
        align-items: center;
    }

    #clients .phrase {
        height: 65vh;
        padding-right: 10%;
    }

    .client-list {
        padding: 0;
        width: 20vw;
        height: inherit;
        flex-direction: row;
        align-items: center;
    }
    
    #client-mask {
        width: 100%;
        /* = clients img width + margin  */
        justify-content: space-between;
    }

    .client-list img {
        width: 7vw;
        margin: 1vw;
    }
    
    .client-list .plusImg {
        top: 0;
        left: 0;
    }
    
    .client-list .plusImg.bottom {
        left: 100%;
        top: 100%;
    }

}

/* 
    ===========================
    == Team Styling ==
    ===========================
*/

#team {
    flex-direction: column;
    justify-content: center;
}

#team .section-wrap {
    flex-direction: column;
    height: auto;
}

#team .phrase {
    width: 100%;
    margin-bottom: 5%;
    align-self: flex-start;
}

#team-carousel {
    width: 90%;
    height: 60vh;
}

.member {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.show {
    display: flex;
}

.member-photo {
    width: 40vw;
    height: 40vw;
    background-color: #F8EF00;
}

.member-photo img {
    width: 100%;
}

.member-details {
    width: 40vw;
    text-align: center;
}

.member-details h5 {
    margin: 4% 0;
}

.member-details p {
    color: floralwhite;
    font-family: 'barlow semi condensed';
    font-weight: 100;
    line-height: 20px;
    padding-right: 4%;
}

#team .shift {
    padding-left: 10%;
}

.slide-dot {
    display: inline-block;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: aqua;
    cursor: pointer;
}

#temp-link {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
}

#team .swiper-nav {
    position: absolute;
    top: 50%;
    height: 5vw;
    background-image: url(../img/svg/arrow_left_01.svg);
}

#team .swiper-button-prev {
    transform: rotate(180deg);
}


@media(min-width:575px) {
    #team {
        flex-direction: column;
    }
    
    #team-carousel {
        width: 450px;
        height: 65vh;
    }
    
    .swiper-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .member {
        width: 50%;
        height: auto;
        justify-content: flex-start;
    }
    
    .member-photo {
        width: 200px;
        height: 200px;
    }
    
    .member-details {
        width: 30vh;
    }
    
    #team .swiper-nav {
        top: 100%;
        left: 52%;
    }
    
    #team .swiper-button-prev {
        left: 42%;
    }
    
}

@media(min-width:992px) {
    
    #team .phrase {
        margin-bottom: 6%;
        width: 100%;
        align-self: flex-start;
    }

    #team-carousel {
        width: 100%;
        padding-top: 2%;
    }

    #team .owl-prev,
    #team .owl-next {
        display: none;
    }

    .member {
        width: 25%;
        align-items: center;
        justify-content: flex-start;
    }

    .member-photo {
        width: 15vw;
        height: 15vw; /* ~ to width */
    }

    .member-details {
        width: 15vw;
        text-align: left;
    }

    .member-details p {
        color: floralwhite;
        font-family: 'barlow semi condensed';
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
    }

    #team .swiper-nav {
        display: none;
    }

}

/* 
    ===========================
    == Contact Styling ==
    ===========================
*/

#contact {
    flex-direction: column;
    justify-content: center;
}

#contact .phrase {
    height: 100%;
    justify-content: space-between;
}

.contact-info {
    position: relative;
    align-self: center;
    height: 100%;
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info h1 {
    font-weight: 700;
    font-size: 8vw;
    padding: 4% 0;
}

.social-media.contact {
    width: 100%;
    display: flex;
    overflow: hidden;
    text-align: center;
    transition: width 0.8s 0.8s ease;
}

.social-media.contact.zero-width {
    width: 0%;
}

#contact .social-media-item i {
    font-size: 6vw;
    padding-top: 2vh;
    padding-right: 4vh;
}

#contact .plusImg {
    position: absolute;
    right: 0;
}

#contact .plusImg.bottom {
    bottom: 0;
}

@media (min-aspect-ratio:1/1) {

    .section-wrap {
        height: 70%;
        align-items: center;
    }
    
    .contact-info {
        padding: 0;
        width: 50%;
    }

    .contact-info h1 {
        font-size: 4vw;
    }

    #contact .social-media-item i {
        font-size: 3.5vh;
        padding-top: 1vh;
        padding-right: 2.5vw;
    }

    .social-media.contact {
        padding-top: 2%;
    }

}

@media (min-width:1600px) {
    
    #contact .social-media-item i {
        font-size: 3vh;
        padding-top: 1vh;
        padding-right: 1.8vw;
    }
}

/* 
    ===========================
    == Footer Styling ==
    ===========================
*/


#home-footer {
    background-color: transparent;
}

.footer {
    height: 12vh;
    text-align: center;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 13px;
    line-height: 1.3;
}

.footer i {
    color: #F8EF00;
    font-size: 80%;
}

.wrap-div {
    padding: 0 5%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .hero {
    height: 100vh;
    justify-content: center;
    background-color: #111;
}

/*------------- back deco section -------------*/

#about .back {
    height: calc(100vh - 20vw);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-layer {
    position: absolute;
    height: 80%;
    width: 80%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-layer hr {
    border: 0.5px solid white;
}

.back .tilde {
    top: 5%;
    padding-bottom: 10px;
    color: floralwhite;
    font-size: 16vw;
    font-weight: 400;
    line-height: 0.3;
}

.back .tilde.second {
    right: 0;
    top: 95%;
    transform: translateY(-100%);
}

.back .dash {
    position: absolute;
    left: 100%;
    top: 10%;
    transform: translate(-100%, 0%);
    width: 20px;
    height: 6px;
    background-color: floralwhite;
}

.back .dash.second {
    left: 0;
    top: 90%;
    transform: translate(0%, -100%);
} 

.back h2.dots {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 50px;
    line-height: 30px;
    width: 100px;
}

#dot-wrap {
    height: 60vw;
    width: 60vw;
    padding: 2vw;
    display: grid;
    /*border: 6px dotted floralwhite;*/
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
}

#dot-wrap:active + .back-deco {
        background-image: linear-gradient(#EF1100,#78107F,#0040D0);
    }

.dot {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    background-color: floralwhite;
    animation: dots 1s infinite linear;
}


@keyframes dots {
    0% {
        border-radius: 50%;
    }
    50% {
        border-radius: 30%;
    }
    100% {
        border-radius: 50%;
    }
}

#about .back-deco {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    background-color: red;
    background-image: linear-gradient(#FFC600,#F8EF00,#FFC600);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-deco  .tick-line {
    z-index: 2;
    top: 30%;
    left: 50%;
    display: flex;
    width: 120px;
    justify-content: space-between;
    transform: translate(-50%, 50%) rotate(90deg);
}

.back-deco  .tick-line.second {
    top: 70%;
    transform: translate(-50%, 50%) rotate(270deg);
}

.back-deco  .tick-line img {
    width: 20px;
}

#bg-circle {
    position: relative;
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    background-color: red;
    background-image: linear-gradient(#F8EF00,#FFC600);
    display: flex;
    align-items: center;
    justify-content: center;
}

.moon {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    background-color: #111;
    animation: moon-1 2s infinite ease;
}

@keyframes moon-1 {
    0% {
        top: 0%;
        left: 0%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    100% {
        top: 0%;
        left: 0%;
    }
}

.moon.second {
    left: 100%;
    animation: moon-2 2s 0.5s infinite ease;
}

@keyframes moon-2 {
    0% {
        top: 0%;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 0%;
    }
    100% {
        top: 0%;
        left: 100%;
    }
}

.wire-obj {
    position: absolute;
    height: 20%;
    width: 20%;
    border: 0.5px solid #111;
    border-radius: 10%;
    transform: rotate(45deg);
    background-color: #111;
    animation: wire 2s infinite linear;
}

.wire-obj.second {
    animation: wire 2s 1s infinite linear;
}

@keyframes wire {
    0% {
        border-radius: 10%;
    }
    
    10% {
        border-radius: 10%;
        width: 20%;
        height: 20%;
    }
    
    20% {
        border-radius: 50%;
        width: 30%;
        height: 30%;
        background-color: #111;
    }
    
    21% {
        background-color: transparent;
    }
    
    30% {
        width: 30%;
        height: 30%;
    }
    
    40% {
        border-radius: 50%;
        width: 160%;
        height: 160%;
        transform: rotate(45deg);
    }
    
    50% {
        border-radius: 50%;
    } 
    
    60% {
        border-radius: 20%;
        transform: rotate(180deg);
    }
    
    70% {
        border-radius: 20%;
    }
    
    80% {
        border-radius: 50%;
        width: 120%;
        height: 120%;
        transform: rotate(180deg);
    }
    
    90% {
        transform: rotate(45deg);
        border-radius: 50%;
        background-color: transparent;
    }
    
    92% {
    }
    
    100% {
        width: 30%;
        height: 30%;
        border-radius: 20%;
        transform: rotate(45deg);
        background-color: transparent;
    }
}

@media(min-width:576px){
    
    #about .back {
        height: 90vh;
    }
    
    .detail-layer {
        width: 90%;
        height: 75%;
    }
    
    .back .tilde {
        font-size: 80px;
    }
    
    #dot-wrap {
        height: 70vh;
        width: 90vh;
    }

    #dot-wrap:hover + .back-deco {
        background-image: linear-gradient(#EF1100,#78107F,#0040D0);
    }

    #dot-wrap:hover + .back-deco > #bg-circle {
        background-image: linear-gradient(#EF1100,#78107F,#0040D0);
    }

    .dot {
        height: 8vh;
        width: 8vh;
    }
    
    .back-deco  .tick-line {
        top: 50%;
        left: 20%;
        width: 140px;
        justify-content: space-between;
        transform: translate(-50%, 50%) rotate(0deg);
    }

    .back-deco  .tick-line.second {
        left: 80%;
        top: 50%;
        transform: translate(-50%, 50%) rotate(180deg);
    }

    .back-deco  .tick-line img {
        width: 20px;
    }
    
    #bg-circle {
        height: 50vh;
        width: 50vh;
    }
    
    .moon {
        height: 2vw;
        width: 2vw;
    }
}

/*------------- About Us -------------*/

#about h1 {
    padding: 5% 0;
}

#about .content {
    padding-top: 10%;
    background-color: #111;
}

.content .wrap-div {
    align-items: flex-start;
    text-align: left;
}

.content h4 {
    margin-bottom: 12px;
}

#about .link-btn {
    height: auto;
    margin: 5% auto;
}

#about .link-btn img {
    width: 15%;
}

@media(min-width:768px) {
    
    .wrap-div {
        margin: auto;
    }
        
    p {
        margin-bottom: 4%;
    }
    
    #about .link-btn {
        width: 100%;
        border: floralwhite 3px solid;
        padding: 2% 5%;
    }
    
    #about .link-btn h2 {
        font-size: 2vw;
    }
    
    #about .link-btn img {
        width: 8%;
    }

}

/*------------- All Projects -------------*/

#projects-grid {
    display: grid;
    width: 100vw;
    padding-top: 20vw;
    grid-template-columns: 100%;
}

.project-thumb {
    background-color: #101315;
    height: 60vh;
}

.project-thumb a {
    position: relative;
    height: inherit;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-desc {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 45%;
    height: 45%;
    padding: 6%;
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-desc img {
    position: relative;
    align-self: flex-end;
    width: 30px;
}

.project-desc hr {
    border: black solid 0.8px;
}

.project-desc h1 {
    font-size: 16px;
    color: #222222;
}

.project-desc p {
    position: relative;
    font-size: 14px;
    line-height: 0.9;
    font-weight: 400;
    color: #111;
    margin: 0 ;
}

@media (min-width:576px) {
    #projects-grid {
        padding-top: 10vh;/* =nav height */
        grid-template-columns: 50% 50%;
    }
    
    .project-thumb {
        height: 60vh;
    }

}

@media (min-width:768px) {
    
    #projects-grid {
        padding-top: 10vh;/* =nav height */
        grid-template-columns: 25% 25% 25% 25%;
    }

    .project-thumb {
        height: 40vh;
    }

    .project-thumb img {
        min-height: 100%;
    }

    .project-thumb a {
        justify-content: center;
    }
    
    .project-desc { 
        position: absolute;
        bottom: auto;
        left: auto;
        right: 50%;
        transform: translate(50%, 0%);
        align-self: center;
        width: 0%;
        height: 0%;
        padding: 0;
        border-radius: 50%;
        transition: width 0.2s, height 0.2s, border-radius 0.5s;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .project-thumb a:hover .project-desc {
        width: 40vw;
        height: 40vw;
    }
    
    .project-desc img {
        align-self: center;
        min-height: auto;
    }

    .project-desc hr {
        border: black solid 0.5px;
        width: 20%;
        margin: 6% 0;
    }

    .project-desc h1 {
        font-size: 24px;
    }
    
    .project-desc p {
        font-size: 16px;
        margin-top: 3%;
    }

}

/*------------- Individual Project HTML -------------*/

#navbar {
    background-color: #111;
}

#header {
    display: flex;
    flex-direction: column;
}

#header-img {
    height: 60vh;
    padding-top: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-img img {
    position: fixed;
    z-index: -1;
    max-height: calc(60vh - 20vw);
    width: auto;
}

@media(min-aspect-ratio: 20/19){
    
    #header-img img {
        min-width: 100%;
        max-height: 1080px;
    }
}

@media(min-aspect-ratio: 20/19) , (min-width:576px) {
    
    #header-img img {
        min-height: calc(90vh - 10vh);
    }
}

#prjct-info {
    position: relative;
    height: 40vh;
    width: 100%;
    padding: 10%;
    background-color: #101315;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#prjct-info h1 {
    font-size: 8vw;
    padding-bottom: 2vh;
}

.prjct-dtails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prjct-info {
    display: flex;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.details h2 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    padding: 1px;
}

.details h2.title {
    font-size: 12px;
    font-weight: 300;
}

.prjct-dtails hr {
    border: 0.5px solid white;
    width: 100%;
    margin: 2vh 0;
}

.details.links {
    flex-direction: row;
    align-items: center;
}

.links .title {
    width: 50%;
}

.links i {
    font-size: 22px;
    color: floralwhite;
}

.title {
    font-weight: 300;
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    background-color: floralwhite;
}

.image img {
    align-self: center;
    width: 100%;
}

@media (min-width:576px) {
    
    #header-img {
        height: 90vh;
        padding-top: 10vh;
    }
    
    #prjct-info {
        height: 10vh;
        height: auto;
        padding: 6% 15%;
    }
    
    #prjct-info h1 {
        font-size: 6vw;
        padding-bottom: 8vh;
    }
    
    .prjct-dtails {
        width: 100%;
        flex-direction: row;
    }
    
    .prjct-info {
        width: 70%;
    }
    
    .details {
        width: auto;
        flex-direction: row;
        align-items: center;
        padding: 0 5vh 0 0  ;
    }
    
    #prjct-info h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 0;
    }
    
    #prjct-info h2.title {
        font-size: 18px;
        font-weight: 300;
        padding-right: 2%;
    }
    
    #prjct-info hr {
        display: none;
    }
    
    .details.links {
        width: auto;
        padding: 0 0 0 5vh;
        justify-content: flex-end;
    }
    
    .links .title {
        width: auto;
    }
    
    .links i {
        font-size: 26px;
        color: floralwhite;
    }

}

@media (min-width:768px) {
    
}

@media (min-width:1600px) {
    
    #prjct-info h2, h2.title {
        font-size: 20px;
    }
    
    #prjct-info h2.title {
        font-size: 20px;
    }
    
}

/*------------- Services HTML -------------*/

#service-body {
    padding: 0 5%;
}

#service-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

#service-head p {
    font-size: 20px;
    margin-top: 25%;
    margin-bottom: 0;
    line-height: 1.1;
    width: 80%;
    
}

.services-all {
    display: flex;
    flex-wrap: wrap;
}

.service-indiv {
    width: 50%;
    padding: 11% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#service-content h1 {
    margin-bottom: 15px;
}
    
#service-content h3 {
    padding-top: 8%;
}

.service-indiv img {
    width: 18vw;
}

.service-indiv h4 {
    font-size: 3vh;
    padding-top: 10%;
}

@media(min-width:768px) {
    
    .Vheight {
        padding-top: 10vh;
    }
    
    #service-head {
        padding-top: 10vh
    }
    
    #service-head p {
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
    #service-content {
        text-align: center;
        padding: 0;
        padding-top: 5%;
    }
    
    #service-content h1 {
        font-size: 10vh;
    }
    
    #service-content h4 {
        font-size: 22px;
        font-weight: 600;
    }
    
    .service-indiv {
        width: 25%;
    }
    
    .service-indiv img {
        width: 50%;
    }

}